/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/10/2017, 21:09:10
    Author     : murilo
*/



body{
    background-image: url('../img/bg-black-car.jpg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

.whiteC{
    color: white;
}

.blackCH{
    color: black;
}

.blackCH tbody tr:hover{
    background-color: rgb(69, 181,248); 
}

.text-center{
    text-align: center;
}

.widthHundred{
    width: 100%;
}

.top-title{
    width: auto;
    margin-top: 220px;
    text-align: center;
    margin-bottom: 180px;
}

.top-title2{
    width: auto;
    margin-top: 220px;
    text-align: center;
    margin-bottom: 30px;
}

.content .lion{ 
    height: 150px;
    z-index: 5;
    float: right;
}

.content .birds{ 
    margin-top: 30px;
    margin-left: 30px;
    height: 150px;
    z-index: 5;
    float: left;
}

.images-animals{ 
    margin-top: 290px;
    margin-left: 36%;
    height: 250px;
    z-index: 5;
}
.images-cipo{ 
    margin-top: -105px;
    margin-left: -55px;
    height: 150px;
    z-index: -1;
    float: left;
}


#enter{
    margin-left: -30px;
}

/* ---  Navbar ---*/

#logo-img{
    width: 50px;
    height: 50px;
}

nav.navbar-transparent{
    background: rgba(0,0,0,0.6);
    border: none;
}

.big{
    padding: 15px;
}

.navbar-brand{
    padding: 0px;
}

.divisor{
    width: 1px;
    height: 16px;
    background: white;
    margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a, footer .nav a{
    color: white;
    padding: 10px;
}

.navbar-inverse .navbar-nav>li>a:hover,  footer .nav a:hover{
    border-bottom: 2px solid rgb(238, 162, 54);
}

.btn-colors{
    background-color: #b05b9f;
    color: white;
    border-color: #904581;
    transition: 0.3s;
}

.btn-colors:hover{
    background-color: #904581;
    color: white;
}


#sLogin label{
    font-size: 18px;  
    margin-right: 20px;
}

#navbarP{
    transition: 0.5s;
}

.encolher {
    height: 50px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}
.encolher .navbar-right {
    padding-top: 0px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}
.encolher .navbar-brand img {
    max-height: 50px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}
#ul-nav{
    margin-top: 5px;
}

.navbar-header .logo img{
    height: 50px;
    width: 50px;
    padding: 0px 0px 0px 0px;
    border-radius: 60px;
}

/* ---  Capa ---*/

#text-cover{
    height: 90%;
}

.cover{
    border: 1px;
    margin-bottom: 40px;

}

.text-cover{
    text-align: center;
    color: white;
    padding: 14%;
    display: table-cell;
    vertical-align: middle;
    padding-top: 20%;
    width: 100%    
}
/* --- Botao capa ---*/
.btn-custom{
    border-radius: 500px;
    text-transform: uppercase;
    padding: 10px 35px;
    transition: background 0.4s, color 0.4s;
    margin: 0px 15px;
}

#btn-simple{
    color: grey;
}

#btn-compound{

}

.btn-play{
    width: 200px;
    border-radius : 15px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    margin-left: 80px;
    margin-top: 8px;
}

.btn-colors2{
    border : solid 0px #ffffff;
    border-radius : 0px 20px 20px 0px ;
    -moz-border-radius : 0px 20px 20px 0px ;
    font-size : 20px;
    color : #ffffff;
    padding : 7px 20px;
    background-color : #b05b9f;

}


#register-input{
    border-radius : 20px 0px 0px 20px;
    -moz-border-radius : 20px 0px 0px 20px;
    width: 450px;
    height: 42px;
    padding-left: -30px;

}


/* --- Conteudo Team --*/

#table-drivers{
    min-height: 800px;
    padding-bottom: 105px;
    height: auto; 
    background: rgba(252, 236, 214, 1);
    padding-top: 105px;

}
.bottom-line3{
    width:100px;
    height:2px;
    margin:13px auto;
    background-color: rgb(238, 162, 54);
    opacity: 0.5;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.1);
}

/* --- Content --*/

.tables{
    
    padding-top: 100px;
}


.content{
    background: white;
    color: #000;
}

.content .table-ranking{

    padding: 120px 10% 0% 10%;
    margin-bottom: 180px;
}

#table2{
    padding: 105px 10% 0% 10%;
    margin-bottom: 180px;
}


/* --- Footer --*/

#footer li {
    float: left;
}

#footer a{
    color: white;
}

#footer a:hover{
    color: Gray;
    background-color: transparent;
}

#logo-footer{
    width: 40px;
    height: 40px;
}

.footer{
    background-color: #000;
    padding-top: 15px;
    min-height: 100px;
    padding-left:5%;
    padding-right: 5%;
}

/* --- Página do Usuário --- */

#pag{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgb(238, 162, 54), rgb(238, 254, 254));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgb(238, 162, 54), rgb(238, 254, 254)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.container-user{
    padding: 8% 20% 40% 20%;
    margin-top: 100px;
    height: 1100px;
}
.container-user h2{
    font-weight: 500;
}

.container-user .span-media{
    border-radius: 10px;
    padding: 5px;
}


.content-user{
    border-radius: 50px;
    padding: 60px 30px 60px 30px;
    margin-top: 60px;
    margin-bottom: 160px;
    border: 1px solid #8e9eab; 
}

.content-user label span{
    color: red;
}


#pagUser .right{
    float: right;
}
#pagUser .left{
    float: left;
}
/* --- Modal --- */
#login-box-body {
    padding: 15px 30px;
}


#login-box-msg{
    margin: 0px;
    text-align: center;
    padding: 0px 20px 20px;
    font-size: 17px;
}

#modal-register{
    width: 420px;
}

#modal-header h4 {
    font-size: 1.5em;
    font-weight: 700;
}

#modal-header{
    border-bottom:none;   
}

#modal-title{font-size:24px;}



/*------------------------ Loader ---------------------------------*/

.loader {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../resources/img/widget-loader-sm.gif') 50% 50% no-repeat ;
    background-color: rgba(0, 0, 0, 0.15 );
}

/*------------------------ ToolTip ---------------------------------*/

.img-tooltip{
    height: 19px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* ======================  Formatcao de texto  ======================*/

h1{
    font-size: 550%;
    font-weight: 700;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}

h2{
    font-size: 250%;
    font-weight: 500;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}

h3{
    font-size: 150%;
    font-weight: 500;
    margin-bottom: 60px;
}

#footer h4 {
    color: #919496;
    font-size: 12px;
    text-transform: uppercase;
}

